<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="cloudNestApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="cloudNestApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="cloudNestApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="cloudNestApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CloudNest</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="/styles/vendor/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="styles/vendor/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="MainController">
<%-body%>
<div id="wrapper">
	<div id="header">
		<header>
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			  <div ng-switch="user.role">
			    <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="#">
						<img alt="Brand" class="logo-image" src="img/logo.png">
					</a>
			    </div>

			    <div class="collapse navbar-collapse" ng-switch-when="admin" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Home</a></li>
			        <li class="dropdown">
			          <a class="dropdown-toggle" href="#">Page 1 <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Page 1-1</a></li>
			            <li><a href="#">Page 1-2</a></li>
			            <li><a href="#">Page 1-3</a></li>
			          </ul>
			        </li>
			        <li><a href="#">Page 2</a></li>
			        <li><a href="#">Page 3</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
			        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
			      </ul>
			    </div>

			   	<div class="collapse navbar-collapse" ng-switch-when="user" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li ng-class="{ active: isActive('/region')}"><a href="#/region">Home</a></li>
			       	<li ng-class="{ active: isActive('/organization')}"><a href="#/about">Organization</a></li>
			       	<li ng-class="{ active: isActive('/about')}"><a href="#/about">About</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
			        <li><a href="#/home" ng-click="signOut()" ><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
			      </ul>
			    </div>

			    <div class="collapse navbar-collapse" ng-switch-default id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li ng-class="{ active: isActive('/')}"><a href="#/home">Home</a></li>
			       	<li ng-class="{ active: isActive('/about')}"><a href="#/about">About</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			        <li ng-class="{ active: isActive('/login')}"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			      </ul>
			    </div>


			  </div>
			  	 <ul class="bread-crumbs" id="home" bread-crumbs ng-if="state!='off'"></ul>
			</nav>
		</header>
	</div>
	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div id="content">
		<div ng-view></div>
	</div>
	<div id="footer">
		<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer--middle-section">
			<div class="mdl-logo">Title</div>
			<ul class="mdl-mini-footer--link-list">
				<li><a href="#">Help</a></li>
				<li><a href="#">Privacy & Terms</a></li>
			</ul>
		</div>
		</footer>
	</div>
</div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="js/vendor/material.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="components/angularUtils-pagination/dirPagination.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="js/general/logicalManagment.js"></script>
  <script src="js/general/auth.js"></script>
  <script src="js/vendor/angular-country-state.min.js"></script>
  <script src="js/vendor/TweenLite.min.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
