<div class="container">

	<h2> Add a new Region!</h2>
	<form>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" ng-model="newRegion.name" type="text" id="regionName">
			<label class="mdl-textfield__label" for="regionName">Name...</label>
		</div>
	  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" ng-model="newRegion.name" type="text" id="regionName">
			<label class="mdl-textfield__label" for="regionName">Name...</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" ng-model="newRegion.name" type="text" id="regionName">
			<label class="mdl-textfield__label" for="regionName">Name...</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" ng-model="newRegion.name" type="text" id="regionName">
			<label class="mdl-textfield__label" for="regionName">Name...</label>
		</div>  
	</form>
</div>
