html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
}
#content {
  padding-bottom:75px; /* Height of the footer element */
}
#footer {
  background:#ffab62;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}
.data-container{
  margin: auto;
}
.pagination{
  padding-left: 30%;
  padding-right: 30%;
  width: 100%;
}
.search-header {
    width: 40em;
    margin: 0 auto;
}
.mdl-mini-footer{
  height: 70px;
}
.bread-crumbs{
  background:#F8F8F8;
  margin-top: 20px;
  margin-bottom: 0px;
}
.bread-crumbs a{
  color: #F50057;
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
  font-size: 1.3em;
}
.bread-crumbs .active a{
  color: #F50057;
  border-right: solid;
  border-top: solid;
  border-color: #F50057;
}

.carddemoBasicUsage .card-media {
  background-color: #F8F8F8; }
.navbar-brand,
.navbar-toggle,
.navbar-nav li a {
    line-height: 105px;
    height: 105px;
    padding-top: 0;
    font-weight: bold;
    font: bold Georgia, serif;
}
.card{
  min-width: 300px;
  min-height: 200px;
  background: #3949AB

}
.card-text {
  color:white;
}
.card-bottom{
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar {
	background-color: E9E9E9;
  random :E9E9E9 ;
  color: #3949AB;
}
.navbar-default .navbar-nav > .active > a{
  color: white;
  background-color: #F50057;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom: solid;
    border-color: #F50057;
    background-color: #f2efef;
}

.logo-image {
	max-width: 105px;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
display: block;
max-width: 100%;
height: auto;
margin: auto;
}
.panel-data {
margin-bottom: 20px;
background-color: white;
padding: 15px;
padding-left : 5px;
padding-right: 5px;
border-color: white;
}
.panel-heading {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.create-container{
  font-family:'Roboto';
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
  text-align: center;
}
.modal-header, .modal-footer, .panel-heading{
    border-width:  0;
    background-color: #3F51B5 !important;
    color: white !important;
}

.close{
  color:white;
  opacity: 1;
  font-size: 2em;
}
.create-form {
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
.country-text {
    text-align: left;
}
video, img{
  width: 100%;
}

#map {
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }

@media (max-width: 480px) {
.mdl-logo{
  height: inherit;
}
}

