<div layout="row" layout-wrap>
	<md-input-container flex="50" class="md-block">
	  <label>Filter Locations:</label>
	  <input ng-model="searchValue">
	</md-input-container>
	<md-button class="md-fab md-primary" ng-click="getLocations()">
		<md-icon class="material-icons">refresh</md-icon>
	</md-button>
	<md-button class="md-fab" type="button" data-toggle="modal" data-target="#createModal" ng-click="select(newLocation)">
		<md-icon class="material-icons">add</md-icon>
	</md-button>
</div>
<div class="container-fluid">
	<div layout="row" layout-wrap>
	  <md-card flex-gt-sm="" ng-click="select(location)"  class="card col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="location in locations | filter:searchValue as results" >
	    <md-card-title data-toggle="modal" data-target="#viewModal">
	      <md-card-title-text>
	        <span class="md-headline card-text">Location: {{location.name}}</span>
	        <p class="card-text">City: {{location.city}}</p>
	       	<p class="card-text">{{location.description}}</p>
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content data-toggle="modal" data-target="#viewModal">
	    </md-card-content>
	    <md-card-actions layout="row" class="card-bottom"  layout-align="end center">
	      <md-button ng-click="go('spots','/spots/'+location.id)">Open</md-button>
	      <md-button data-toggle="modal" ng-click="select(location)" data-target="#confirmDelete">Delete</md-button>
	    </md-card-actions>
	  </md-card>
	</div>
</div>

<div class="modal fade" id="createModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Location Register</h4>
        </div>
			<div class="modal-body">
				<h2> Add a new Location!</h2>
				<form class="create-form">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" ng-model="newLocation.name" type="text" id="LocationName">
						<label class="mdl-textfield__label" for="LocationName">Name:</label>
					</div>
				  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" ng-model="newLocation.description" type="text" id="LocationDescription">
						<label class="mdl-textfield__label" for="LocationDescription">Description:</label>
					</div>
					<country-state-select country="newLocation.country" state="newLocation.state"></country-state-select>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" ng-model="newLocation.city" type="text" id="LocationDescription">
						<label class="mdl-textfield__label" for="LocationDescription">City:</label>
					</div>
				</form>
				<button data-dismiss="modal" ng-click="addLocation()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
				  Submit
				</button>
				<button data-dismiss="modal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
				  Cancel
				</button>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="viewModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Location Register</h4>
        </div>
			<div class="modal-body">
				<h2> Location details </h2>
				<form class="create-form">
				<div layout="row" layout-wrap>
				<div ng-repeat='(key, prop) in selected track by key' flex="50" flex-gt-sm="">
					<md-input-container ng-show="isEditEnable" class="md-block" >
				        <label>{{key}}</label>
				        <input ng-model="selected[key]" type="text"  id="generalInput">
				    </md-input-container>
					<p ng-show="!isEditEnable" >{{key}} : {{prop}}</p>
				</div>
				</div>
				</form>
				<button ng-show="!isEditEnable" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="setEditable(newLocation)" type="button">Edit</button>
				<button ng-show="isEditEnable" data-dismiss="modal" ng-click="submitForm()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
				  Submit
				</button>
				<button data-dismiss="modal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
				  Cancel
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDelete" role="dialog">
	<div class="modal-dialog modal-sm">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 class="modal-title">Delete Confirmation</h4>
	    </div>
	    <div class="modal-body">
	      <p>This will delete the location and all its related data. Are you sure?</p>
	    </div>
	    <div class="modal-footer">
	      <md-button class="md-primary md-accent md-raised" ng-click ="deleteLocation()"  data-dismiss="modal">Delete</md-button>
	      <md-button class="md-primary md-accent md-raised"data-dismiss="modal">Cancel</md-button>
	    </div>
	  </div>
	</div>
</div>